{% extends "main.html" %} {% block content %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<div class="md-container home-page">
  <section class="home-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="headline-section">
          <h1 class="main-headline">
            Knative是一个开源的构建Serverless和事件驱动应用程序的
            <br>
            企业级解决方案
          </h1>
          <h2>Kubernetes环境下的Serverless容器.</h2>
          <p style="display: block">
            <a href="{{ 'getting-started/' | url }}" class="md-button white md-button--primary">
              开发者? 从这里开始!
            </a>
            <a href="{{ 'install/' | url }}" class="md-button white"> 集群管理员? 从这里开始!</a>
          </p>
          <div class="trusted-by-container">
            <h3 class="trusted-by">Trusted by</h3>
            <div id="usedby">
              <div class="logo">
                <img src="images/corporate-logos/Google.svg" alt="" draggable="false" />
              </div>
              <div class="logo">
                <img src="images/corporate-logos/vmware.svg" alt="" draggable="false" />
              </div>
              <div class="logo">
                <img src="images/corporate-logos/IBM.svg" alt="" draggable="false" />
              </div>
              <div class="logo">
                <img src="images/corporate-logos/Redhat.svg" alt="" draggable="false" />
              </div>
              <div class="logo triggermesh">
                <img src="images/corporate-logos/triggermesh_logo.svg" alt="" draggable="false" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="need-to-know-more-container">
    <div class="md-grid md-typeset">
      <h1>想了解更多?</h1>
      <p class="normal-text">
        学习Knative如何和Kubernetes一起工作，以及容器和Serverless基础设施的基本思想。
      </p>
      <a href="{{ 'getting-started/' | url }}" class="md-button call-to-action">
        探索Knative
      </a>
    </div>
  </section>

  <section class="why-serverless-container">
    <div class="md-grid md-typeset">
      <h1>为何选择serverless容器?</h1>
      <p class="normal-text">
       Serverless是指在云中运行后端程序和进程，它支持“按量付费”，你只需为实际的调用付费。
        Knative是一个平台无关的解决方案，用于运行serverless应用。
      </p>
      <div class="img-table">
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_simple_abstractions_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_simple_abstractions_icon.svg'"
                onmouseout="this.src='images/home-images/blue_simple_abstractions_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>更简单的抽象</h2>
              <p class="normal-text">
                使用我们的自定义 CRD 简化您的 YAML
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_autoscaling_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_autoscaling_icon.svg'"
                onmouseout="this.src='images/home-images/blue_autoscaling_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>自动伸缩</h2>
              <p class="normal-text">
                缩容到零副本以及从零副本扩容
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_progressive_rollouts_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_progressive_rollouts_icon.svg'"
                onmouseout="this.src='images/home-images/blue_progressive_rollouts_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>渐进式部署</h2>
              <p class="normal-text">
               根据需要选择你的发布策略
              </p>
            </div>
          </div>
        </div>
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_event_intergrations_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_event_intergrations_icon.svg'"
                onmouseout="this.src='images/home-images/blue_event_intergrations_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>事件集成</h2>
              <p class="normal-text">
                处理各种来源的事件
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_handle_events_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_handle_events_icon.svg'"
                onmouseout="this.src='images/home-images/blue_handle_events_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>事件处理</h2>
              <p class="normal-text">
                事件代理中的触发器处理程序
              </p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/blue_plugable_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_plugable_icon.svg'"
                onmouseout="this.src='images/home-images/blue_plugable_icon.svg'" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>可插拔</h2>
              <p class="normal-text">
                原生Kubernetes集成和扩展
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="knative-components-container">
    <div class="md-grid md-typeset">
      <h1>Knative组件</h1>
      <p class="normal-text">
        Knative有两个主要组件，为使用Kubernetes的团队赋能。Serving 和<br>Eventing 协同工作以自动化和管理任务和应用程序
      </p>
      <div class="components-content">
        <img class="components-img" src="images/home-images/knative_flowchart_graphic.svg" alt="" draggable="false" />
        <div class="text-table">
          <p class="normal-text">
            轻松在 Kubernetes 中运行serverless容器。Knative 负责网络、自动缩放（甚至到零）和版本跟踪。团队可以使用任何编程语言，并专注于核心逻辑。
          </p>
          <p class="normal-text">
            通用的事件订阅、分发和管理。通过使用声明性event connectivity将计算附加到数据流和对开发人员友好的对象模型来构建现代应用程序。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="trying-it-all-container">
    <div class="md-grid md-typeset">
      <h1>一起尝试</h1>
      <div class="img-table">
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/dev_focus_code_icon.svg" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>开发者专注于代码</h2>
              <p class="normal-text">
                从容器到带有更少<br>YAML配置的URL
              </p>
            </div>
          </div>

          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/dkblue_scale_icon.svg" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>扩容和缩容</h2>
              <p class="normal-text">
                基于流量模式<br>
                缩容到零
              </p>
            </div>
          </div>

          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/cloud_agnostic_icon.svg" alt="" draggable="false">
            </div>
            <div class="reason-text">
              <h2>Cloud agnostic</h2>
              <p class="normal-text">
                Control traffic shifting<br>
                for smoother rollouts
              </p>
            </div>
          </div>
        </div>
      </div>
      <a href="{{ 'install/' | url }}" class="md-button call-to-action">
        立即部署Knative
      </a>
    </div>
  </section>

  <section class="case-studies-container">
    <div class="md-grid md-typeset">
      <h1>真实案例</h1>
      <div class="cases-table">
        <div class="col">
          <a href="{{ 'about/case-studies/deepc/' | url }}">
            <div class="logo">
              <img class="deepc" src="images/case-studies/deepc.png" alt="" draggable="false" />
            </div>
            <hr>
            <p class="normal-text">
              "It should be possible for
              somebody with an algorithm to have it on the platform in an hour"<br><br>

              —Andrew Webber,<br>
              Senior Software Engineer for deepc
            </p>
          </a>
        </div>
        <div class="col">
          <a href="{{ 'about/case-studies/outfit7/' | url }}">
            <div class="logo">
              <img class="outfit7" src="images/case-studies/outfit7.png" alt="" draggable="false" />
            </div>
            <hr>
            <p class="normal-text">
              "The community support is
              really great. The hands-on
              experience with Knative was
              so impressive. On the Slack
              channel, we got actual
              engineers to answer our questions"<br><br>

              —Tilen Kavcic,<br>
              Software Engineer for Outfit7
            </p>
          </a>
        </div>
        <div class="col">
          <a href="{{ 'about/case-studies/puppet/' | url }}">
            <div class="logo">
              <img class="puppet" src="images/case-studies/puppet.png" alt="" draggable="false" />
            </div>
            <hr>
            <p class="normal-text">
              "I'm a strong believer in
              working with open-source
              vendors. We've made
              contributions to numerous
              projects, including Tekton,
              Knative, Ambassador, and
              gVisor --All of which we depend
              on to make our product
              functional."<br><br>

              —Noah Fontes,<br>
              Senior Principal Software Engineer for<br>Puppet
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="cncf-notice-container">
    <h3>Knative 是一个 <a href="https://www.cncf.io/">云原生计算基金会</a> 孵化项目</h3>
    <img class="cncf-logo" src="images/home-images/cncf-color.png" alt="" draggable="false" />
  </section>

  <section class="whats-next-container">
    <div class="md-grid md-typeset">
      <h1>下一步是什么?</h1>
      <div class="component-flex">
        <div class="pane">
          <a href="https://slack.knative.dev" title="Slack Link">
            <div class="twemoji">
              {% include ".icons/fontawesome/brands/slack.svg" %}
            </div>
            <h2>Talk to us on Slack</h2>
            <p class="normal-text">Interested in learning more, speaking to other contributors, or finding answers?</p>
          </a>
        </div>
        <div class="pane">
          <a href="./community/contributing/" title="Contributing Link">
            <div class="twemoji">
              {% include ".icons/fontawesome/brands/github.svg" %}
            </div>
            <h2>Contributions Welcome</h2>
            <p class="normal-text">Want to join the fun on Github? New users are always welcome!</p>
          </a>
        </div>
        <div class="pane">
          <a href="https://twitter.com/KnativeProject" title="Twitter Link">
            <div class="twemoji">
              {% include ".icons/fontawesome/brands/twitter.svg" %}
            </div>
            <h2>Follow us on Twitter</h2>
            <p class="normal-text">For feature announcements, interesting Knative news, and other great things.</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const logos = document.getElementById("usedby").getElementsByTagName("div");
    for (let i = 0; i < logos.length - 1; i++) {
      // Technically there's a chance two elements end up with the same
      // random order in which case the result won't be truly random (it'll be based
      // on the original document order). This really doesn't matter.
      logos[i].style.order = Math.floor(Math.random() * 99);
    }
    logos[logos.length - 1].style.order = 100;
  })
</script>
{% endblock %}

<!-- Application footer -->
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}
